body{
    background: #ddcdcd;
    font-family: cuprum, Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.logo{
    display: inline-block;
    width: 220px;
    height: 47px;
    padding-top: 13px;
    box-sizing: border-box;
    background: #EE3643;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    text-align: center;
}

.search::before {
    width: 11px;
    height: 11px;
    content: url('../img/icon-search.svg');
    padding-right: 5px;
}

.bookmarks::before {
    width: 14px;
    height: 16px;
    content: url('../img/bookmarks.svg');
    padding-right: 5px;

}

.cart::before {
    width: 15px;
    height: 11px;
    content: url('../img/icon-cart.svg');
    padding-right: 5px;

}


.phone::before {
    width: 18px;
    height: 19px;
    content: url('../img/icon-phone.svg');
    padding-right: 5px;

}

.enter::before {
    width: 18px;
    height: 19px;
    content: url('../img/icon-login.svg');
    padding-right: 5px;

}